@font-face {
	font-family: "NotoSerif";
	src: url("fonts/NotoSerif/NotoSerif-Regular.ttf");
}

:root {
	--linkColor: #3da6fa;
	--codeBackground: #070609;
	--codeForeground: #c0d0d0;
	--contentImageBorder: #202036;
	--noteBorder: #d1b202;
}

html {
	font-size: calc(0.8999rem + 0.4000vw);
	background: #141517;
	color: #c8c8c8;
}

.light-mode {
	/* Peach color taken from: */
	/* https://www.cs.cmu.edu/~jbigham/pubs/pdfs/2017/colors.pdf */
	background: #EDD1B0;

	color: #000000;
	--linkColor: #0070ff;
	--codeBackground: #333333;
	--codeForeground: #efefef;
	--contentImageBorder: #a0a0f0;
	--noteBorder: #eb6702;
}

body {
	font-family: "NotoSerif";
	margin: 0;
	padding: 0;
	line-height: 1.6;
	font-size: 1rem;
}

h1,
h2 {
	font-family: "Noto Sans", sans-serif;
	font-weight: normal;
	font-size: 3rem;
	line-height: 1.1;
	letter-spacing: 0.028em;
	margin: 0;
}

h2 {
	margin-bottom: 0.5rem;
	font-size: 2rem;
}

.content {
	padding-left: 10px;
	padding-right: 10px;
	margin: auto;
	align: center;
	max-width: 35rem;
}

.content img {
	box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
	width: 80%;
	border: 2px solid var(--contentImageBorder);
}

.buttons {
	top: 1em;
	left: 1em;
	position: absolute;
	z-index: 1;
}

button {
	/*top: 1em;
	left: 1em;
	position: absolute;
	z-index: 1;*/

	padding: 6px 14px;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;

	background-color: black;
	color: #c8c8c8;
	border: 2px solid white;
	border-color: #1f8db5;
	border-radius: 4px;

	box-shadow: 4px 4px 5px rgba(0,0,0,0.35);
}

button:hover {
	border-color: #00e9ff;
}

.footer img,
.header img {
	margin: 0;
	object-fit: cover;

	width: 100%;
	height: 300px;

	-webkit-mask-image: linear-gradient(black, black, transparent);
	mask-image:         linear-gradient(black, black, transparent);
}

.footer img {
	height: 400px;
	filter: grayscale(100%) brightness(20%);
	-webkit-mask-image: linear-gradient(transparent, black);
	mask-image:         linear-gradient(transparent, black);
}

.author {
	font-size: 18px;
}

.author h1 {
	padding-bottom: 10px;
}

.author img {
	height: 28px;
	float: left;
	padding-right: 5px;
}

a {
	text-decoration: none;
	color: var(--linkColor);
}

a:visited {
	color: #8f3dfa;
}

a:hover {
	text-decoration: underline;
}

.author a{
	font-family: "Noto Sans", sans-serif;
	font-size: 18px;
	margin-right: 5px;
}

.date {
	font-family: "Noto Sans", sans-serif;
	color: #585e70;
	display: inline;
}

.authorline {
	line-height: 28px;
}

.snippet {
	font-family: "Courier New", monospace;
	font-size: 16px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 8px;
	padding-right: 8px;
	margin-left:2px;
	margin-right:2px;
	background: var(--codeBackground);
	color: var(--codeForeground);
}

.note {
	padding: 3px 3px 3px 3px;
	border: 1px solid var(--noteBorder);
	border-radius: 8px;
}
